<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.capa.acip.Complain">
 	<resultMap type="Complain" id="ComplainResultMap"> 
		<result column="cnum" property="cnum" />
		<result column="mid" property="mid" />
		<result column="ctitle" property="ctitle" />
		<result column="ccontent" property="ccontent" />
		<result column="cregdate" property="cregdate" />
		<result column="lnum" property="lnum" />
	</resultMap>

	<insert id="insertComplain" parameterType="Complain">
		insert into complain(cnum, mid, ctitle, ccontent, cregdate, lnum)
		values(cseq.nextval,
		#{mid},#{ctitle},#{ccontent},sysdate,#{lnum})
	</insert>

	<select id="selectComplain" parameterType="java.lang.String" 
		resultMap="ComplainResultMap">
		select cnum, mid,ctitle, ccontent, lnum from complain where mid = #{mid} AND lnum = #{lnum}
	</select>
	
	<select id="selectComplain2" parameterType="java.lang.String" 
		resultMap="ComplainResultMap">
		select cnum, mid,ctitle, ccontent, lnum from complain where ctitle = #{ctitle} AND lnum = #{lnum}
	</select>

 	<delete id="deleteComplain" parameterType="Complain">
		delete from complain where cnum = #{cnum}
 	</delete>

 	<update id="updateComplain" parameterType="Complain">
 		update complain set ctitle = #{ctitle}, ccontent = #{ccontent}, cregdate = sysdate where cnum = 
 		#{cnum} 
 	</update> 

</mapper>  
